.vs
*\.bin
*\.obj
SpotifyContentAvailabilityChecker/bin/Debug/net6.0-windows/

SpotifyContentAvailabilityChecker/obj/Debug/net6.0-windows/

SpotifyContentAvailabilityChecker/obj/

SpotifyContentAvailabilityChecker/bin/Release/net6.0-windows/

SpotifyContentAvailabilityChecker/Properties/PublishProfiles/
