<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpotifyContentAvailabilityChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SpotifyContentAvailabilityChecker.Properties.Settings>
            <setting name="ContentURL" serializeAs="String">
                <value />
            </setting>
            <setting name="ContentType" serializeAs="String">
                <value />
            </setting>
            <setting name="CountrySearch" serializeAs="String">
                <value />
            </setting>
            <setting name="HistorySearch" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchFavorites" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetFavoriting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CountrySearchBy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HistorySearchBy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableSearchSwitch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowGridLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </SpotifyContentAvailabilityChecker.Properties.Settings>
    </userSettings>
</configuration>